Write a Python program to multiplies all the items in a list.

for example list=[2, 3, 6]

result = 36

In [ ]:
My_List=[2,3,6]
result=1
for x in My_List:
  result *= x
print (result)

36

Write a Python program to multiplies all the items in a list.

for example list=[2, 3, 6]

result = 36

In [ ]:
import numpy
My_List=[2,3,6]
result=numpy.prod(My_List)
result

36

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use sort function

In [ ]:
List=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
List.sort()
import operator
List.sort(key=operator.itemgetter(1))
List

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Write a Python program to combine two dictionary adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Expected output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1:
  if key in d2:
    d2[key]+=d1[key]
  else:
    d2[key]=d1[key]
print (d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

Write a program to sort a tuple by its float element.
For example list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')] 
print (sorted (list, key=lambda x:float (x[1]), reverse= True ))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
number = int(input("Type a number: "))
numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i
print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}