Write a Python function to find the Max of three numbers.

for example, the max of these three numbers 20, 35, 19 is 35

In [ ]:
o=[20,35,19]
o.sort()
print (o[-1])

35

Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

For example:

calculation(40, 10) should produce 50, 30

In [ ]:
x=int(input("enter maximum number :"))
y=int(input("enter minimum number :"))
print ((x+y),(","),(x-y))

enter maximum number :050
enter minimum number :020
70 , 30

* Write a function that sums the elements of a list of integers.
* Write a function that multiplies the elements of an integer list.
* Use the two functions to sum the elements whose position is an even number (0,2,4…) and multiply the rest.*italicized text*
Hint: Consider extracting two lists from a first list

In [110]:
list1 = [11, 5, 17, 18, 23]
total = 0
for ele in range(0, len(list1)):
    total = total + list1[ele]
print("Sum of all elements in given list: ", total)
def multiplyList(myList) :
  result = 1
  for x in myList:
    result = result * x
    return result
list2 = [27, 37, 20, 5]
print("multiply of all elements in given list: ",multiplyList(list2))
#Use the two functions to sum the elements whose position is an even number (0,2,4…) and multiply the rest.italicized text
a=0
b=1
c=0
d=1
for n in range(0,len(list1)):
  if (list1[n]%2==0):
    a+= list1[n]
for t in range(0,len(list1)):
  if (list1[t]%2!=0):
    b*= list1[t]
for m in range(0,len(list2)):
  if (list2[m]%2==0):
    c+= list2[m]
for k in range(0,len(list2)):
  if (list2[k]%2!=0):
    d*= list2[k]
print (a+c)
print (b*d)

Sum of all elements in given list:  74
multiply of all elements in given list:  27
38
107417475

Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

Sample Items : green-red-yellow-black-white

Expected Result : black-green-red-white-yellow

Hint : There's a split function to separate your input string into words and a sort function to sort.

In [48]:
item= str(input("enter some words")).split(',')
x=[i for i in item]
x.sort()
print(','.join(x))

enter some wordsgreen,red,yellow,black,white
black,green,red,white,yellow

Write a function that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the function: 100,150,180 The output of the program should be: 18,22,24 

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [112]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24